:root {
  --base-color: #c4d2ef;
  --base-variant: #dfe6f6;
  --text-color: #3e6ccb;
  --box-shadow: #ffffff;
  --shadow-variation: #b8c8e8;
  --background: #e3eaf8;
  --rgba: rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 4vmin;
  min-height: 100vh;
  display: grid;
  overflow: hidden;
  place-items: center;
  background: #c4d2ef;
  background: linear-gradient(-45deg, var(--base-color), var(--base-variant));
}

.strip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vmin;
  padding: 2vmin 1vmin;
  border-radius: 4vmin;
  background: var(--background);
  box-shadow: inset -0.6vmin -0.6vmin 1.2vmin var(--box-shadow),
    inset 0.6vmin 0.6vmin 1.2vmin var(--shadow-variation);
}

.hr,
.min,
.sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4vmin;
  grid-row: 1/2;
  align-items: start;
}
.number {
  user-select: none;
  width: 8vmin;
  height: 8vmin;
  display: grid;
  place-items: center;
  color: var(--text-color);
  font-weight: 500;
  background: transparent;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease, color 0.3s ease;
  box-shadow: none;
}

.number.pop {
  background: var(--background);
  color: var(--text-color);
  font-weight: 600;
  transform: scale(1.2);
  box-shadow: inset -0.3vmin -0.3vmin 0.6vmin var(--box-shadow),
    inset 0.3vmin 0.3vmin 0.6vmin var(--shadow-variation), 0 0 2vmin var(--rgba);
}

.clock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8vmin;
  height: 4vmin;
  position: relative;
  padding: 0 4vmin;
}

.darkmode {
  --base-color: #2e3136;
  --base-variant: #303235;
  --text-color: #3e6ccb;
  --box-shadow: #00000038;
  --shadow-variation: #2e323a;
  --background: #2a2b2e;
  --rgba: rgba(47, 97, 190, 0.315);
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  background-color: var(--base-color);
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#theme-switch svg {
  fill: var(--text-color);
  width: 24px;
  height: 24px;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}
